body {
    margin: 20px;
    color: black;
    background: white;
    /* text-align: center; */
    text-align:justify;
    font-family: 'Courier New', Courier, monospace;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
.introimg{
    border-radius: 20px;
    /* text-align:center; */
    float:left;
    /* text-align:left; */
    height: 220px;
    margin: 1em 3em 1em 1em;
}

.intro{
    /* text-align: justify; */
    /* margin-left: 20px; */
    border-bottom: 1px dashed black;
    /* display: flex; */
    /* flex-direction: */
    /* margin: 10px auto; */
}
.introtext{
    width: 900px;
    text-align: justify;
}

.mainbody {
    width: 1000px;
    margin: 10px auto;
    padding: 25px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 10px 10px black, 0 10px 10px rgb(98, 150, 173);
}
p.center {
    text-align: center;
}
p.large {
    font-size: 300%;
}
p.italic{
    font-style: italic;
}
p.white{
    color:white;
}
img.project{
    height: 200px;
    border: 1px white;
    text-align: center;
    border-radius: 20px;
}
.Project {
    /* border: 3px outset rgb(179, 188, 192); */
    border-bottom: 1px dashed black;
    /* border-radius: 25px; */
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
    box-sizing:content-box;
    background-color: white; 
    text-align: justify;
    /* box-shadow: 0 5px 5px black, 0 5px 5px black; */
  }

  .footer {
    background-color: white;
    padding: 10px;
    text-align: center;
  }